.App {
  max-width: 1920px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #697ce6;
  padding: 0 20px;
  height: 60px;
  margin-bottom: 20px;
}

.bucket--btn-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.btn-container-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
}

.btn-container-link:hover {
  background: #626bce;
}
